POSTGRES_USER=trellis
POSTGRES_PASSWORD=secret123
POSTGRES_DB=trellisdb

SERVER_PORT=8000
CLIENT_URL=http://localhost:3000
NODE_ENV=development
DB_URL=postgresql://trellis:secret123@localhost:5432/trellisdb